.add-crypto-card-space{
    padding-top: 12px;
    /* padding-left: 25px; */

}

.add-crypto-card-btn{
    border: none;
    background-color: #EE6C4D !important;
    padding: 3px 9px 3px 9px;
    border-radius: 3px;
    font-size: 1.0rem;

}

.btn{

}