.crypto-card-container {
    margin: auto !important;
    width: 60%;
    margin: 10px 0 10px 0;

    
}

.crypto-card__contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-radius: 10px;

    padding-top: 5px;
    height: 55px;
    margin: 10px 20px 10px 20px;
    background-color: #4062BB;
    /* border: 1px solid white; */

}

.btn-containers{
    display: flex;
}

.refresh-button{
    cursor: pointer;
    margin-right: 5px;
}

.remove-btn{
    cursor: pointer;
    margin-left: 5px;
}

.crypto-card__title{
    width: 150px;
    font-size: 22px;
}

.crypto-card__price{
    width: 90px;
}

.crypto-card__change{
    width: 70px;
    text-align: center;
}

.crypto-card__change-positive{
    border-radius: 5px;
    color: rgb(0, 241, 0);
    background-color: rgba(36, 158, 38, 0.3);
}

.crypto-card__change-negative{
    border-radius: 5px;
    color: red;
    background-color: rgba(122, 19, 19, 0.3);
}

