.app-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    margin: auto;

}

.crypto-card-grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.clearBtn-container{
    margin: 5px;

}

.addBtn{
    margin: 5px;
}