body {
    background-color: #11151c !important;
    color: whitesmoke !important;

}

.container {
    margin-top: 100px;
}

.topnavbarContainer {
    text-align: center;
}

.topnavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    align-content: normal;
    
}

.header {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.addBtn {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

}

.table-layout {
    
}

#table-layout__coin-name{
    
}

@media screen and (max-width: 1060px) {

    .crypto-card-container{
        width: 80% !important;
        
    }

}

@media screen and (max-width: 780px) {

    .crypto-modal-container{
        width: 60%;
    }

    .app-container{
        margin: 0 !important;
    }

    .crypto-card-container{
        width: 100% !important;
        
    }

    .crypto-card__container{
        margin-bottom: 10px !important;
    }

    .crypto-card__contents{
        margin: 0 !important;
    }

    .container-fluid{
        padding: 0 !important;
    }

    .crypto-card__title{
        width: 100px !important;
        font-size: 15px !important;
    }

    .refresh-button svg{
        height: 20px;
        width: 20px;
    }

    .remove-btn svg{
        height: 20px;
        width: 20px;
    }

}